html {
  scroll-behavior: smooth;
}

/* navbar */
.nav-link {
  color: white;
}

.nav-link:hover {
  color: black;
}

/* jumbotron */
.banner {
  background: url("img/kids.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
}

.banner h1 {
  font-size: 5rem;
  text-shadow: 1px 2px 5px black;
}

.banner p {
  font-size: 1.7rem;
  text-shadow: 1px 1px 5px black;
}

.banner .teks .tombol {
  font-size: 2rem;
}

/* bagian 3 dan 4*/
.bag3 h1,
.bag4 h1 {
  color: rgb(1, 186, 233);
  border-bottom: 1px solid rgb(1, 186, 233);
  padding-bottom: 1rem;
}

.bag3 .accordion-body {
  font-size: 1.2rem;
}

.bag4 .gambar {
  height: 600px;
  background: url("img/bagan.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* bagian 5 */
.bag5 .card-body {
  height: 600px;
  background: url("img/banner.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* program */
#program h1 {
  padding-top: 7rem;
  text-align: center;
}

#program h3 {
  margin-top: -1rem;
  padding: 0.5rem 0;
}

#program .lingkaran {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  color: white;
}

/* testimoni */
.testi .card-img-top {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: 3px solid rgb(0, 206, 206);
}

.testi .slide-content {
  overflow: hidden;
}

.testi .swiper-btn {
  color: white;
}

.testi .swiper-btn:hover {
  transform: scale(1.2);
}

.testi .swiper-btn:active {
  color: aqua;
}

/* contact */
#contact h1 {
  padding-top: 7rem;
  text-align: center;
}

#contact .map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 576px) {
  .swiper-btn {
    display: none;
  }
}

/* footer */
footer a {
  text-decoration: none;
  color: white;
}

footer .socials {
  padding: 1rem 3rem;
}

footer .socials a {
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover,
footer .credit a:hover {
  color: black;
}

footer .links {
  margin-bottom: 1rem;
}

footer .links a {
  color: #fff;
  padding: 0.5rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

/* floating sosmed */
.medsos {
  position: fixed;
  left: 1rem;
  bottom: 1.5rem;
  z-index: 9999;
}

.medsos a {
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

.medsos a .btn-floating-wa,
.medsos a .btn-floating-ig {
  padding: 0.5rem;
  border: 0;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

.medsos a span {
  display: none;
  flex-direction: row;
}

.medsos a:hover span {
  display: inline-block;
  padding: 0 0.8rem;
  line-height: 1.35rem;
}

.medsos a:hover .btn-floating-wa {
  background-color: rgba(0, 128, 0, 1);
}

.medsos a:hover .btn-floating-ig {
  background-color: rgba(171, 80, 247, 1);
}

/* RESPONSIVE */
/* jumbotron */
@media (max-width: 1724px) {
  .banner .teks {
    width: 55%;
  }
}

@media (max-width: 1568px) {
  .banner .teks {
    width: 60%;
  }
}

@media (max-width: 1437px) {
  .banner .teks {
    width: 70%;
  }
}

@media (max-width: 1232px) {
  .banner .teks {
    width: 80%;
  }
}

@media (max-width: 1078px) {
  .banner .teks h1 {
    font-size: 4.5rem;
  }
  .banner .teks p {
    font-size: 1.5rem;
  }
}

@media (max-width: 973px) {
  .banner .teks h1 {
    font-size: 4.3rem;
  }
  .banner .teks p {
    font-size: 1.3rem;
  }
}

@media (max-width: 642px) {
  .banner .teks h1 {
    font-size: 4rem;
  }
  .banner .teks p {
    font-size: 1.2rem;
  }
  .banner .teks .tombol {
    font-size: 1.7rem;
  }
}

@media (max-width: 586px) {
  .banner .teks h1 {
    font-size: 3.2rem;
  }
  .banner .teks p {
    font-size: 1rem;
  }
  .banner .teks .tombol {
    font-size: 1.5rem;
  }
}

@media (max-width: 475px) {
  .banner .teks h1 {
    font-size: 2.5rem;
  }
  .banner .teks .tombol {
    font-size: 1.2rem;
  }
}

@media (max-width: 378px) {
  .banner .teks h1 {
    font-size: 2.3rem;
  }
}

/* bagian 4 */
@media (max-width: 991px) {
  .bag4 .gambar {
    height: 600px;
    background: url("img/banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .bag5 .card-body {
    height: 600px;
    background: url("img/banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
